.grid-table[b-odald3iyvb] {
    border-collapse: collapse;
}

.grid-table td[b-odald3iyvb] {
    padding: 0;
}

.grid-table button[b-odald3iyvb] {
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid #ccc;
}